@import-normalize; /* bring in normalize.css styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

:root {
  --background-body: #fff;
  --text-main: #36393b;
  --text-secondary: #6b6f72;
  --primary-color: #548e9b;
  --dark-background-body: #202122;
  --dark-text-main: #dfdfdf;
  --dark-text-secondary: #ccc;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'DM Sans';
  overflow-x: hidden;
  color: white;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul {
  list-style: none;
}

input {
  padding: 0;
}

@font-face {
  font-family: 'DM Sans';
  src: url('./fonts/DMSans-Regular.woff2');
}

@font-face {
  font-family: 'DM Sans';
  src: url('./fonts/DMSans-Medium.woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'DM Sans';
  src: url('./fonts/DMSans-Bold.woff2');
  font-weight: 700;
}

.navlink {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  min-width: 70px;
  padding: 8px;
  text-align: center;
  color: inherit;
  text-decoration: none;
  font-size: 20px;
  transition: 300ms ease-in-out;
  font-weight: 400;
  margin-left: 20px;
}

.navlink::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  transform-origin: left;
  transform: scaleX(0);
  background-color: #6b6f72;
  transition: transform 0.4s ease-in-out;
}

.navlink:not(.selected):hover {
  color: #548e9b;
}

.selected::before {
  background-color: #548e9b;
  transform: scaleX(1);
}

@media (max-width: 768px) {
  .navlink {
    max-width: 105px;
    margin: 0 auto;
  }
}
